@import "tailwindcss";

@source "../../../packages/components";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Design Tokens */
  --color-primary: #747bff;
  --color-secondary: #ff7474;
  --color-tertiary: #74ff74;
  --color-accent: #1434dd;

  --body-background: #213547;
  --body-font-color: #ffffff;
  --header-background: #d1d5db;
}

@media (prefers-color-scheme: light) {
  :root {
    color-scheme: light;
    --body-background: #ffffff;
    --body-font-color: #213547;
    --header-background: #d1d5db;
  }

  a:hover {
    color: var(--color-primary);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --body-background: #213547;
    --body-font-color: #ffffff;
    --header-background: #112332;
  }
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  color: var(--body-font-color);
  background-color: var(--body-background);
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  h1 {
    @apply text-3xl font-bold mb-5;
  }

  h2 {
    @apply text-2xl font-semibold mb-4;
  }

  h3 {
    @apply text-xl font-semibold mb-3;
  }

  p {
    @apply leading-relaxed;
  }
}

@layer utilities {
  .header {
    @apply w-full bg-(--header-background) h-16 px-8 flex items-center justify-between;
  }

  .form-field-component-wrapper {
    @apply flex flex-col my-2;
  }

  .form-field-component {
    @apply rounded-md px-1 py-2 mt-2 mb-1 border focus:outline-1 focus:outline-(--color-primary);
  }

  .form-field-error-message {
    @apply text-red-500 italic text-xs;
  }

  .form-field-error {
    @apply border border-red-500;
  }
}
