@import "tailwindcss";

@source "../../../packages/components";

@layer base {
  html {
    scroll-behavior: smooth;
  }

  :root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Design Tokens */
    --color-primary: #747bff;
    --color-secondary: #ff7474;
    --color-tertiary: #74ff74;
    --color-accent: #1434dd;

    --body-background: #213547;
    --body-font-color: #ffffff;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color-scheme: light;
    --body-background: #ffffff;
    --body-font-color: #213547;
  }

  a:hover {
    color: var(--color-primary);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --body-background: #213547;
    --body-font-color: #ffffff;
  }
}

body {
  margin: 0;
  padding: 1rem;
  min-width: 320px;
  min-height: 100vh;
  color: var(--body-font-color);
  background-color: var(--body-background);
}
